<ion-header class="header">
  <ion-toolbar class="toolbar" style="align-items:center;">
    <ion-title  style="font:bolder;">Online Voting System</ion-title>
    <!-- <ion-buttons slot="start" class="main">
      <ion-menu-button menu="voting-menu">
      </ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-card class="card">
    <p class="text">E-Voting</p>
    <h2 class="h2-text">Welcome</h2>
    <h4 class="h4-text">Let Your Vote Be Ahead </h4>
    <a href="./login" class="a"><button class="btn"><strong>Voter sign-up/Login<ion-icon
          name="chevron-forward-outline"></ion-icon></strong></button></a>

    <!-- <button shape="round" class="button"><strong><a href="./login" class="a">Voter sign-up/Login</a></strong></button> -->
    <a href="./login" class="a"><button class="btn2"><strong>Admin Login<ion-icon
            name="chevron-forward-outline"></ion-icon></strong></button></a>
    <div><img src="/assets/download.jpg" class="bg-img" alt="Voting"></div>
  </ion-card>
  <!-- </div> -->
</ion-content>
<!-- <select name="Login As" onclick="display();" id="select1" >
      <option class="opt1" style="background-color: white; " value="login.page.html" disable selected hidden >Login As</option>
      <option class="opt1" style="background-color: white" value="a">Admin</option>
      <option  class="opt1" style="background-color: white" value="v">Voter</option>
    </select> -->
<!-- <div class="back">

    <div id="admin_login" style="display: none;">

      <ion-card class="card1" expand="block">

      <h2>Welcome Back,<span id="user-name">Shiv</span></h2>
  <p>Please Login to Continue</p>
  </div> 
  <div class="form">

    <ion-input type="text" shape="round" placeholder="Enter Your Admin ID" ></ion-input>
    <ion-input type="password" shape="round" placeholder="Enter Your Password" ></ion-input>

  </div>
  <div class="button" routerLink="/admin-home">login
    <ion-icon name="chevron-forward-outline"></ion-icon></div>
    <h4 routerlink="/sign-up">Don't have an account?</h4><h3><a href="sign-up" class="link">sign-up</a></h3>
    
</ion-card>
        <ion-input class="input" shape="round" placeholder="Enter Your Login ID" id="admin_l_id"></ion-input>
        <ion-input class="input" id="admin-password" type="password" placeholder="Enter Password"></ion-input>
        <small id="password-empty-admin" style="color: red; display: none; text-align: left;">Your password is empty</small> <br>
        <ion-button class="btn" shape="round" color="secondary" onclick="AH();" href="admin-home">Login</ion-button> -->
<!-- </div>
  </div>

  <ion-card class="card-2" expand="block"> -->

<!-- <div class="back"> -->
<!-- <div id="voter_login" style="display: none;">
      <h3>Welcome Back,<span id="user-name">Rudresh</span>
</h3>
<p>Please Login to Continue</p> -->
<!-- </div> 
  <div class="form">

    <ion-input type="text" shape="round" placeholder="Enter Your Login ID"  ></ion-input>
    <ion-input type="password" shape="round" placeholder="Enter Your Password" ></ion-input>

  </div>
  <div class="button">login
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon></div>
    <h3 routerlink="/sign-up">Don't have an account?</h3><h3><a href="sign-up" class="link">sign-up</a></h3>

  </div> -->

<!-- <ion-input class="input" shape="round" placeholder="Enter Your Login ID" id="voter_l_id"></ion-input>
        <ion-input class="input" type="password" placeholder="Enter Password" id="voter-password"></ion-input>
        <small id="password-empty-voter" style="color: red; display: none;">Your password is empty</small> <br>
        <ion-button class="btn" shape="round" color="secondary" onclick="VH();" href="voter-home">Login</ion-button> -->
<!-- </div>
  </ion-card> -->

<!-- </ion-card-header>
    </ion-card>
    </div>
    
      <div class="flex-center">
        <ion-item>
          <ion-spinner name="bubbles" color="danger"></ion-spinner>
        </ion-item>
      </div>
    
    
</ion-content> -->

<!-- <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login Page</ion-card-title>
    </ion-card-header>
    <div align="center">
    <ion-input placeholder="Login Id"></ion-input>
    <ion-input placeholder="Password" type="password"></ion-input>
    <ion-button id="btn" onclick="ClickMe();">Login</ion-button>
    <div style="display: none;" id="d1">What is your name?</div>
   </div> 
  </ion-card>
</ion-content> -->